## Prediction of accident number by category
#### Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

#### Load dataset
The number of accidents for different categories per month.

In [4]:
df = pd.read_csv('./data/monatszahlen2307_verkehrsunfaelle_10_07_23_nosum.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MONATSZAHL                      2016 non-null   object
 1   AUSPRAEGUNG                     2016 non-null   object
 2   JAHR                            2016 non-null   int64
 3   MONAT                           2016 non-null   int64
 4   WERT                            1848 non-null   float64
 5   VORJAHRESWERT                   1848 non-null   float64
 6   VERAEND_VORMONAT_PROZENT        1840 non-null   float64
 7   VERAEND_VORJAHRESMONAT_PROZENT  1763 non-null   float64
 8   ZWOELF_MONATE_MITTELWERT        1848 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 141.9+ KB
None

#### Data cleaning
Drop NaNs in "WERT".

In [5]:
df.dropna(axis=0, subset=['WERT'], inplace=True, ignore_index=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MONATSZAHL                      1848 non-null   object
 1   AUSPRAEGUNG                     1848 non-null   object
 2   JAHR                            1848 non-null   int64
 3   MONAT                           1848 non-null   int64
 4   WERT                            1848 non-null   float64
 5   VORJAHRESWERT                   1764 non-null   float64
 6   VERAEND_VORMONAT_PROZENT        1840 non-null   float64
 7   VERAEND_VORJAHRESMONAT_PROZENT  1763 non-null   float64
 8   ZWOELF_MONATE_MITTELWERT        1848 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 130.1+ KB
None

Check for duplicates.

In [6]:
print(df.duplicated().any())

False

Change the format of "MONAT".

In [ ]:
df['MONAT'] = df['MONAT'].apply(lambda x: int(str(x)[-2:]))
df.head()

,MONATSZAHL,AUSPRAEGUNG,JAHR,MONAT,WERT,VORJAHRESWERT,VERAEND_VORMONAT_PROZENT,VERAEND_VORJAHRESMONAT_PROZENT,ZWOELF_MONATE_MITTELWERT
0,Alkoholunfälle,insgesamt,2021,1,16.0,28.0,23.08,-42.86,35.0
1,Alkoholunfälle,insgesamt,2021,2,14.0,40.0,-12.50,-65.00,33.0
2,Alkoholunfälle,insgesamt,2021,3,24.0,27.0,71.43,-11.11,32.0
3,Alkoholunfälle,insgesamt,2021,4,16.0,26.0,-33.33,-38.46,32.0
4,Alkoholunfälle,insgesamt,2021,5,24.0,40.0,50.00,-40.00,30.0